.cover__background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  position: relative;
  /* top:auto;
  left: auto; */
  z-index: 2;
}

